button {
  margin: 2px;
  height: 60px;
  border: none;
  background-color: var(--key);
  font-weight: 600;
  font-size: 16px;
  color: white;
  min-width: calc(8vw);
  border-radius: 4px;
  &:focus {
    outline: none;
  }

  &:active {
    background-color: var(--key-pressed);
  }
}

svg {
  padding-top: 8px;
}
