.container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #333;
  margin: 5px;
}
input {
  flex-grow: 2;
  color: white;
  height: 50px;
  background-color: black;
  border: 0;
  border-bottom: 2px solid white;
  font-size: 1.8em;
  width: 30px;
  padding: 0 2px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 5px;

  &::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #333;
    width: 30px;
  }

  &::selection {
    color: white;
    background: #333;
    width: 30px;
  }

  &:focus {
    border-color: var(--letter-correct-wrong-position);
  }
}

input:focus {
  outline: none;
}

.button-check {
  color: var(--button);
}

.button-clear {
  color: var(--button-gray);
}
