:root {
  --background: #000;
  --color: white;
  --color-accent: orange;

  --letter-background-correct-wrong-position: #fbfde1;
  --letter-background-correct: #d2fdbb;
  --letter-correct-color: #000;

  --button: #fff;
  --button-gray: #666;

  --gray: #34495e;
  --darkgray: #2c3e50;

  --key: #333;
  --key-pressed: #666;

  --active-letter: #999;
}
