:root {
  --background: #000;
  --color: white;

  --letter-wrong: #ff6961;
  --letter-correct-wrong-position: #f8d66d;
  --letter-correct: #7abd7e;

  --background-wrong: #ff6961;
  --background-correct-wrong-position: #f8d66d;
  --background-correct: #7abd7e;

  --button: #fff;
  --button-gray: #666;

  --gray: #666;
  --gray-dark: #333;
}
