<div class="container">
  <h1 class="header"><span>MIND</span>WORDER</h1>
  <div class="information">
    <p>mieszaj litery, szukaj słowa. znajdź swój wyraz.</p>
  </div>
  <div class="difficulty">
    <p>trudność (ilość liter)</p>
    <app-difficulty-level
      #difficultyLevelComponent
      [selectedLevel]="level"
    ></app-difficulty-level>
  </div>
  <div class="footer">
    <a href="https://poocoo.pl">Ⓒpoocoo.pl</a>

    <app-button (onClick)="startGame()" text="graj"></app-button>
  </div>
</div>
