<div class="batch">
  <!--  <div class="batch-number">-->
  <!--    {{ batch?.batchNumber }}-->
  <!--  </div>-->
  <div class="letters">
    <div
      *ngFor="let l of batch?.lettersAnswerInfo; let i = index"
      [ngClass]="{
        'letter-correct': l === answerType.letterCorrectOnRightPosition,
        'letter-correct-wrong-position':
          l === answerType.letterCorrectOnWrongPosition,
        'letter-wrong': l === answerType.letterWrong
      }"
      class="letter"
    >
      {{ formatLetters(batch!.letters[i]) }}
    </div>
  </div>
  <!--  <div class="bath-time"></div>-->
</div>
