.batch {
  display: flex;

  .batch-number {
    width: 24px;
    padding-top: 12px;
    text-align: center;
    color: var(--lightgray);
    font-size: 14px;
  }

  .bath-time {
    width: 24px;
  }

  .letters {
    flex: 1;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;

    .letter {
      padding: 3px;
      margin: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
    }

    .letter-correct {
      background-color: var(--letter-background-correct);
      color: var(--letter-correct-color);
    }
    .letter-correct-wrong-position {
      background-color: var(--letter-background-correct-wrong-position);
      color: var(--letter-correct-color);
    }
  }
}
