.batch {
  display: flex;

  .batch-number {
    width: 24px;
    text-align: center;
    margin-right: 10px;
    color: var(--gray);
  }

  .letters {
    flex-grow: 2;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;

    .letter {
      padding: 3px;
      margin: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .letter-correct {
      background-color: var(--letter-background-correct);
      color: var(--letter-correct-color);
    }
    .letter-correct-wrong-position {
      background-color: var(--letter-background-correct-wrong-position);
      color: var(--letter-correct-color);
    }
  }
}
