<div class="letters-container">
  <div
    *ngFor="let in of [].constructor(wordLength); let i = index"
    id="il_{{ i }}"
    class="letter"
    (click)="letterClick($event)"
    [ngClass]="{ active: i === currentLetterId }"
  >
    {{ letters[i] }}
  </div>
</div>
<div class="main">
  <app-user-manual *ngIf="gameBatches.length == 0"> </app-user-manual>

  <app-game-batch-info *ngFor="let batch of gameBatches" [batch]="batch">
  </app-game-batch-info>
</div>

<app-keyboard class="keyboard" (onKeyPress)="keyPress($event)"></app-keyboard>
