.container {
  text-align: center;
  font-size: 20px;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.letters-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #111;
  align-items: center;
  border-bottom: 1px solid #333;
  padding: 14px 0 12px;

  .letter {
    min-width: 20px;
    height: 46px;
    width: 30px;
    border: 1px solid #333;
    margin: 5px;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
  }

  .active {
    border-color: var(--active-letter);
  }
}

.main {
  flex: 1 1 auto;
  overflow-y: auto;
  height: 0px;
  min-height: 130px;
  margin: 10px;
}

.keyboard {
  padding-bottom: 10px;
}
