button {
  height: 60px;
  border: var(--button-border) solid #666;
  background-color: black;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  border-radius: 4px;

  height: 60px;
  margin: 0 auto;
  width: 90%;
  display: block;
  margin-bottom: 10px;

  &:focus {
    outline: none;
  }

  &:active {
    background-color: var(--key-pressed);
  }
}
